
@import url("https://fonts.googleapis.com/css2?family=Shrikhand:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700;800;900&display=swap");
@import "./utils/variables";
@import "./utils/functions";
@import "./utils/_mixins.scss";
@import "./utils/extensions";

@import "./base/base";
@import "./base/typography";

@import "./components/buttons";

@import "./layout/header";
@import "./layout/nav";
@import "./layout/container";
@import "./layout/form";


@import "./pages/work";
@import "./pages/about";
@import "./pages/project";


body {
    @include Fontsize;
    margin: 0;
}
.header {
    width: 100%;
}
.header .img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    grid-area: logo;
    padding: 1rem 1rem 1rem;
    height: 1.813rem;
}
h1 {
    font-family: 'Shrikhand', serif;
    font-size: 48px;
}
h2 {
    font-family: 'Shrikhand', serif;
    font-weight: 800;
    font-size: 30px;
    width:95%;
}
h5 {
    @include Roboto;
    font-weight: 800;
    padding: 0;
    margin: 5px;
}
h6 {
    @include Roboto;
    font-weight: 80;
    padding: 0;
    margin: 5px 0 0 5px;
}

.fa-heart{ 
    position: relative;
    margin-top: 12px;
    margin-right: 1px;
    display: block;
    overflow: hidden;
}
.fa-arrow-left {
    text-decoration:none;
    position: absolute;
    color: black;
    margin: 15px 0 0 30px;
}
.main {
    display:grid;
    row-gap:1rem;
    max-width:100%;
    max-height:100%;
    align-items:center;
    background-color: #F6F6F6;
    padding: 0;
}
.RestaurantsCard {
    position: relative;
    margin: 0px 0 0 0;
}
.RestaurantsTitle {
    position: absolute;
    display: grid;
    margin-top: 250px;
    top: 18%;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    width: 95%;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 0;
    padding: 0 9px 70px 10px;
    background-color: #f6f6f6;
}
.RestaurantsCardImg {
    margin: 0;
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
    display: grid;
    flex-direction: column;
  }
  .RestaurantsCardImg
{
    height:22rem;
    object-fit:cover;
}
@media screen and (min-width: 1440px)
{
    .fa-heart{ 
        position: -webkit-sticky;
        position: sticky;
        margin-top: 12px;
        left: 72%;
        display: block;
        overflow: hidden;
    }
    .header {
        display: grid;
    }
    .header .img {
        margin: 0;
    }
    .fa-arrow-left {
        position: absolute;
        margin-left: 40%;
        text-decoration:none;
        color: black;
    }
    .RestaurantsCard {
        display:block;   
    }
    .RestaurantsTitle {
        position: relative;
        display: grid;
        margin-top: -30px;
        left: 50%;
        transform: translate(-50%); 
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
        width: 500px;
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        font-weight: 0;
        background-color: #f6f6f6;
    }
    .RestaurantsCardImg {
        position:alternative;
        margin: 0 auto;
        max-width: 520px;
        overflow: hidden;
        display: grid;
        flex-direction: column;
      }
      .RestaurantsTitle h2 {
        margin-left: 30px;
    }
    .carte__container {
      padding: 20px 0px 80px 12px!important;
    }
    .buttoncommander {
        color: white;
        background: linear-gradient(#FF79DA, #9356DC);
        border-radius: 50px;
        padding: 20px;
        width: 235px;
        border: none;
        margin-top: 20px;
        @include Roboto;
        font-size: 17px;
        font-weight: 500;
        @include Textcenter;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 40px;
    }
    .footer
{
    color: white;
    max-width:520px;
    display:flex;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    margin-top:0px!important;
    bottom:0px;
}
.footercolumn
{
    margin: 0 0 0 25px;
    width:70%;
    padding:1rem 0;
    white-space:nowrap;
}
}

@media screen and (min-width: 500px) and (max-width: 1400px)
{
    .fa-heart{ 
        position: relative;
        margin-top: 12px;
        left: 160px;
        display: block;
        overflow: hidden;
    }
    .fa-arrow-left {
        position: -webkit-sticky;
        width: 5px;
        text-decoration:none;
        color: black;
        left: 25%;
    }
    .RestaurantsCard {
        display:block;   
    }
    .RestaurantsTitle {
        position: relative;
        display: grid;
        margin-top: -30px;
        left: 50%;
        transform: translate(-50%); 
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
        width: 500px;
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        font-weight: 0;
        background-color: #f6f6f6;
    }
    .RestaurantsCardImg {
        position:alternative;
        margin: 0 auto;
        max-width: 520px;
        overflow: hidden;
        display: grid;
        flex-direction: column;
      }
    .RestaurantsTitle h2 {
        margin-left: 30px;
    }
    .carte__container {
        padding: 20px 0px 80px 12px!important;
      }
    .buttoncommander {
        color: white;
        background: linear-gradient(#FF79DA, #9356DC);
        border-radius: 50px;
        padding: 20px;
        width: 235px;
        border: none;
        margin-top: 20px;
        @include Roboto;
        font-size: 17px;
        font-weight: 500;
        @include Textcenter;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 40px;
    }
    .footer
{
    color: white;
    max-width:520px;
    display:flex;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    margin-top:0px!important;
    bottom:0px;
}
.footercolumn
{
    margin: 0 0 0 25px;
    width:70%;
    padding:1rem 0;
    white-space:nowrap;
}
}
@media screen and (max-width: 420px)
{
    .footer
    {
        position: absolute;
        top:1980px;
    }
    .RestaurantsTitle h2 {
      margin-left: 15px;
  }
    .fa-heart{ 
        position: -webkit-sticky;
        position: sticky;
        margin-top: 12px;
        left: 85%;
        display: block;
        overflow: hidden;
    }
    .carte__container {
        padding: 20px 0px 80px 6px!important;
      }
     
}
.Restaurantsmenutitle {
    position: relative;
    color: #9a9a9a;
    margin: 15px 0 0 15px;
    text-transform: uppercase;
}
.RestaurantsCard .RestaurantsTitle .Restaurantsmenutitle .surligne
{
    border-bottom: 1px solid #99E2D0;
    border-bottom-width: 4px;
}

.buttoncommander:hover {
    $rose: lighten(#FF79DA, 2%);
    $violet: lighten(#9356DC, 2%);
    background: linear-gradient($rose, $violet);
    box-shadow: 0 0 20px #0000004e;
    cursor:pointer;
  }

.buttoncommander {
    color: white;
    background: linear-gradient($rose, $violet);
    border-radius: 50px;
    padding: 20px;
    width: 235px;
    border: none;
    margin-top: 20px;
    @include Roboto;
    font-size: 17px;
    font-weight: 500;
    @include Textcenter;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 20px #0000002e;
}
.footer
{
    background-color: #353535;
    color: white;
    display:flex;
    width:100%;
    margin-top: 90px;
    box-sizing: border-box;
}

.footercolumn
{
    margin: 0 0 0 25px;
    width:70%;
    padding:1rem 0;
}
.footercolumnlink
{
    display:block;
    margin:1%;
    color: white;
    @include Roboto;
    font-weight: 500;
    text-decoration:none;
    .fa-utensils {
        padding: 0 10px;
    }
    .fa-hands-helping {
        padding: 0 7px;
    }
}
.footercolumnlink2
{
    display:block;
    margin:1% 0 0 3%;
    color: white;
    @include Roboto;
    text-decoration:none;
    font-weight: 50;
}
.footercolumntitle
{
    font-family: 'Shrikhand', serif;
    font-weight: 200;
    margin: 10px 0 15px 10px;
}

  .carte__container {
    position: relative;
    width: 95%;
    top: -30px;
    border-radius: 30px 30px 0 0;
    padding: 20px 20px 80px 0px;
    margin: 0 0 -20px 0;
  }
 
  .carte__container section {
    display: flex;
    flex-direction: column;
  }

  .carte__container section {
    display: flex;
    flex-direction: column;
  }
  .carte__container section h3 {
    color: grey;
    text-transform: uppercase;
    font-weight: 200;
  }
  .carte__container section hr {
    width: 40px;
    height: 3px;
    font-size: 1.4em;
    margin-left: 0;
    margin-top: -15px;
    border: none;
    background: #99E2D0;
  }
  .carte__container section ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
    padding: 0;
  }
  .carte__container section ul li {
    width: 95%;
    background: #FFF;
    box-shadow: 2px 2px 10px #dbd9d9;
    border-radius: 20px;
    margin: 0 0 5px 0;
    display: flex;
  }
  .carte__container section ul li .carte-choice {
    width: 80%;
    flex: 1;
    padding: 20px;
  }
  .carte__container section ul li .carte-choice h4 {
    width: 100%;
    font-size: 1.2em;
    margin: 0;
    @include Roboto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .carte__container section ul li .carte-choice .carte-desc {
    width: 100%;
    display: flex;
    align-items: center;
    @include Roboto;
    justify-content: space-between;
    margin: 0;
  }
  .carte__container section ul li .carte-choice .carte-desc p {
    width: 90%;
    margin: 0 5px 0 0;
    color: grey;
    @include Roboto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .carte__container section ul li .carte-choice .carte-desc .choice-price {
    width: 15%;
    margin: 0;
    @include Roboto;
    font-weight: 800;
  }
  .carte__container section ul li .carte-valide {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #99E2D0;
    border-radius: 0 20px 20px 0;
    display: none;
    transition-duration: 0.5s;
    animation: slideLeft 0.5s;
  }
  .carte__container section ul li .carte-valide .fa-check-circle {
    font-size: 1.5em;
    color: #FFF;
    animation: spinner-rotate 0.5s;
  }
  .carte__container section ul .carte-1 {
    animation: slideBottom 0.5s;
  }
  .carte__container section ul .carte-2 {
    animation: slideBottom 1s;
  }
  .carte__container section ul .carte-3 {
    animation: slideBottom 1.5s;
  }
  .carte__container section ul .carte-4 {
    animation: slideBottom 2s;
  }
  .carte__container section ul li:hover {
    cursor: pointer;
  }
  .carte__container section ul li:hover .carte-valide {
    display: flex;
  }
  .carte__container section ul li:hover .carte-desc {
    width: 80%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition-duration: 0.5s;
  }
  .carte__container section ul li:hover .carte-choice {
    margin: 0 -18% 0 0;
    transition-duration: 0.5s;
  }
  .carte__container section ul li:hover .carte-choice h4 {
    width: 80%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition-duration: 0.5s;
  }
  .carte__container section .carte-check {
    width: 200px;
    margin: 0px auto;
    padding: 20px 30px 20px 30px;
    background: linear-gradient(to bottom right, #FF79DA, #9356DC);
    border-radius: 30px;
    color: #FFFFFF;
    font-weight: bold;
    text-align: center;
  }
  .carte__container section .carte-check:hover {
    cursor: pointer;
    opacity: 0.8;
    box-shadow: 5px 5px 10px #FFF;
  }
  h4 {
    margin-left: 20px;
}
.carte__container section hr {
    margin-left: 20px;
}

@keyframes slideHeaderBack {
    from {
      transform: translateX(0);
      opacity: 1;
    }
    to {
      transform: translateX(-10px);
      opacity: 0.6;
    }
  }
  @keyframes slideBottom {
    from {
      transform: translateY(30px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes slideLeft {
    from {
      width: 0%;
    }
    to {
      width: 20%;
    }
  }
  @keyframes loading-spinner {
    0% {
      visibility: hidden;
      opacity: 0;
    }
    5% {
      visibility: visible;
      opacity: 1;
    }
    99% {
      opacity: 1;
    }
    100% {
      visibility: hidden;
      opacity: 0;
    }
  }
  @keyframes spinner-rotate {
    0% {
      transform: scale(1) rotate(0deg);
      animation-delay: 1s;
    }
    100% {
      transform: scale(1) rotate(360deg);
      animation-duration: 1s;
    }
  }
