
@import url("https://fonts.googleapis.com/css2?family=Shrikhand:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700;800;900&display=swap");
@import "./utils/variables";
@import "./utils/functions";
@import "./utils/_mixins.scss";
@import "./utils/extensions";

@import "./base/base";
@import "./base/typography";

@import "./components/buttons";

@import "./layout/header";
@import "./layout/nav";
@import "./layout/container";
@import "./layout/form";


@import "./pages/work";
@import "./pages/about";
@import "./pages/project";
.masque {
    position: sticky;
    opacity:1;
    animation: transition2 3s;
}
#loading {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%); 
    width: 300px;
    height: 300px;
            border-radius: 150px;
    background: #ccc;
    line-height: 100px;
    color: $rose;
    box-shadow: 0 0 55px $rose;
    animation: transition3 3s;
    opacity:0;
}
#loading:before {
    content: "";
    position: absolute;
      left: -20px;
       top: -20px;
    bottom: -20px;
     right: -20px;
            border-radius: 170px;
    background: $rose;
    z-index: -2;
    box-shadow: inset 0 0 35px $violet;
}
#loading span {
    position: absolute;
    border-left: 150px solid transparent;
    border-right: 150px solid transparent;
    border-top: 180px solid rgba(255,255,255,0.7);
    z-index: -1;
    top: -28px;
    left: 0px;
    -webkit-animation: ticktock 3s linear;
    -webkit-transform-origin: 150px 180px;
}
#loading strong {
    position: absolute;
    overflow: hidden;
    display: block;
    -webkit-animation: expand 3s linear;
}

@keyframes transition2 {
    from {
        opacity:0;
         }
    to {
        opacity:1;
    }
}
@keyframes transition3 {
    0% {
        opacity:1;
        position:absolute;
         }
    50% {
        opacity:0.5;
        position:absolute;
    }
    100% {
        opacity:0;
        position:absolute;
    }
}

@-webkit-keyframes expand {
    0% {
            width: 0;
    }
    100% {
            width: 130px;
    }
}

@-webkit-keyframes ticktock {
    0% {
            -webkit-transform: rotate(0);
    }
    100% {
            -webkit-transform: rotate(360deg);
    }
}
  

body {
    @include Fontsize;
    margin: 0;
}
.header .img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    grid-area: logo;
    padding: 1rem 1rem 1rem;
    height: 1.813rem;
}
h1 {
    font-family: 'Shrikhand', serif;
    font-size: 48px;
}
h2 {
    @include Roboto;
    font-weight: 800;
}
p {
    @include Roboto;
    font-size: 25px;
}
a {
    text-decoration:none; 
    color: black;
}
.fa-map-marker-alt {
    margin: 0 15px;
}
@media screen and (min-width: 900px)
{
    .localisation {
        display: block;
        margin-left: auto;
        margin-right: auto;
        border-top: solid;
        max-width:600px;
        font-weight: 500;
        border-color: #e0dede;
        background-color: #EAEAEA;
        padding: 1px 1px 1px 1px;
        @include Textcenter;
    }
    .sous-localisation {
        font-size: 21px;
        width:600px;
        background-color: #F6F6F6;
        @include Textcenter;
        margin-left: auto;
        margin-right: auto;
        }
        .fonctiontitle {
            margin: 0 auto;
            padding-left: 12px;
            font-size: 18px;
            @include Roboto;
            font-weight: 800;
        }
    .fonction ul {
        margin-bottom: 5px;
        margin-left: auto;
        margin-right: auto;
        max-width:600px;
    }
    .Restaurants {
        display:grid;
        max-width:600px;
        margin-left: auto;
        margin-right: auto;
        background-color: #F6F6F6;
        padding: 0 0 45px;
    }
    .RestaurantsCardLove .fa-heart{
        position: absolute;
        margin: 1px 0 0 290px;
        display: block;
        overflow: hidden;
        transition: all 450ms;
        opacity:1.0;
    }
    .fa-heart{ 
        position: -webkit-sticky;
        position: sticky;
        left: 35%;
    }
    .footer
{
    color: white;
    max-width:600px;
    display:flex;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
}
.footercolumn
{
    margin: 0 0 0 25px;
    width:70%;
    padding:1rem 0;
    white-space:nowrap;
}
}
@media screen and (min-width: 500px) and (max-width: 1400px)
{

    .fonctiontitle {
        margin: 0 auto;
        padding-left: 12px;
        font-size: 18px;
        @include Roboto;
        font-weight: 800;
    }
    .fonction ul {
        margin-bottom: 5px;
        margin-left: auto;
        margin-right: auto;
        max-width:600px;
    }
    .fa-heart{ 
        position: -webkit-sticky;
        position: sticky;
        left: 35%;
    }
}
.localisation {
    margin-left: auto;
    margin-right: auto;
    border-top: solid;
    font-weight: 500;
    border-color: #e0dede;
    background-color: #EAEAEA;
    padding: 1px 1px 1px 1px;
    @include Textcenter;
}

.buttonexplore:hover {
    $rose: lighten(#FF79DA, 2%);
    $violet: lighten(#9356DC, 2%);
    background: linear-gradient($rose, $violet);
    box-shadow: 0 0 20px #0000004e;
    cursor:pointer;
  }

.buttonexplore {
    color: white;
    background: linear-gradient($rose, $violet);
    border-radius: 50px;
    padding: 20px;
    width: 235px;
    border: none;
    @include Roboto;
    font-size: 17px;
    font-weight: 500;
    @include Textcenter;
    box-shadow: 0 0 20px #0000002e;
}
.sous-localisation {
    margin: 0 0 30px;
    padding: 15px 0 40px;
    font-size: 21px;
    background-color: #F6F6F6;
    @include Textcenter;
    margin-left: auto;
    margin-right: auto;
}
.sous-localisation-text {
    color: #928b8b;
    @include Textcenter;
    font-size: 20px; 
    padding: 0 15px 0 5px;
}
.fonction {
    display: grid;
    column-gap: 2rem;
    margin: 3rem 0;
    ul {
        padding: 0 0 0 0;
        list-style-type: none;
      }
      li {
        padding: 0.3rem;
        counter-increment: list;
      }
      li::before {
        position: absolute;
        content: counter(list);
        color: white;
        border: 2px solid #9356DC;
        background-color: #9356DC;
        font-size: 25px;
        font-weight: 600;
        border-radius: 50%;
        padding: 0.3rem 0.8rem;
        margin: 40px 0 0 1px;
    }
}
.fonctiontitle {
    padding-left: 12px;
    font-size: 18px;
    @include Roboto;
    font-weight: 800;
    max-width: 100%;
}
.button1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin: 15px;
    border-radius: 30px;
    padding: 35px 45px 35px 15px;
    width: 335px;
    border: none;
    @include Roboto;
    font-size: 20px;
    font-weight: 500;
    background-color: #F6F6F6;
    .fa-mobile-alt {
        color: #928b8b;
        margin: 0 12px 0 8px;
    }
}
.button1:hover, .button2:hover, .button3:hover {
    cursor:pointer;
  }
.boutontext {
    margin: 0 0 0 20px;
}
.button2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin: 15px;
    border-radius: 30px;
    padding: 35px 45px 35px 15px;
    width: 335px;
    border: none;
    @include Roboto;
    font-size: 20px;
    font-weight: 500;
    background-color: #F6F6F6;
    .fa-list-ul {
        color: #928b8b;
        margin: 0 12px 0 2px;
    }
}
.button3 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin: 15px;
    border-radius: 30px;
    padding: 35px 45px 35px 15px;
    width: 335px;
    border: none;
    @include Roboto;
    font-size: 20px;
    font-weight: 500;
    background-color: #f5edff;
    .fa-store {
        color: #9356DC;
        margin: 0 12px 0 2px;
    }
}
.Restaurants {
    display:grid;
    row-gap:1rem;
    width:100%;
    height:100%;
    align-items:center;
    background-color: #F6F6F6;
    padding: 0 0 45px;
}
.Restaurantstitle {
    margin: 10% 0 0 5%
}
.RestaurantsCardFigure {
    position: relative;
    max-width:100%;
    max-height:100%;
    box-shadow: 0 0 20px #0000002e;
    border-radius: 1rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    transition-duration: 0.1s;
    padding: 0 0 20px;
    margin: 2%;
    cursor:pointer
  }
a .RestaurantsCardFigureImg
{
    height: 11rem;
    width: 100%;
    object-fit:cover;
    border-radius:1rem 1rem 0 0
}
.fa-heart{
    position: absolute;
    margin: 32px 0 0 310px;
    display: block;
    overflow: hidden;
    transition: all 450ms;
    opacity:1.0;
}
  .fa-heart:hover {
    position: absolute;
    background: -webkit-gradient(linear, right top, right bottom, from($violet), to($rose));
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
    opacity:1;
  }
.RestaurantsCardLove2 {
    position: absolute;
    color: white;
    opacity:0.0;
  }
  .opacity0 {
      opacity:0;
  }
  
  
  
.RestaurantsCardFigureImg2
{
    height: 11rem;
    width: 100%;
    object-fit: cover;
    border-radius:1rem 1rem 0 0
}
.RestaurantsCardFigureCaptionTitle {
    @include Roboto;
    margin: 3% 0 1% 3%;
}
.RestaurantsCardDesc {
    margin: 0 0 0 3%;
    font-weight: 100;
}
.new {
    position: absolute;
    background-color: #99E2D0;
    color: #39A98E;
    padding: 2% 4%;
    border-radius: 5%;
    top: 5%;
    right: 5%;
    -webkit-transition: opacity .5s ease;
    transition: opacity .5s ease;
    opacity:1;
    @include Roboto;
    font-weight:bolder;
    }
    .footer
    {
        background-color: #353535;
        color: white;
        display:flex;
        width:100%;
        box-sizing: border-box;
    }
    
    .footercolumn
    {
        margin: 0 0 0 25px;
        width:70%;
        padding:1rem 0;
    }
    .footercolumnlink
    {
        display:block;
        margin:1%;
        color: white;
        @include Roboto;
        font-weight: 500;
        text-decoration:none;
        .fa-utensils {
            padding: 0 10px;
        }
        .fa-hands-helping {
            padding: 0 7px;
        }
    }
    .footercolumnlink2
    {
        display:block;
        margin:1% 0 0 3%;
        color: white;
        @include Roboto;
        text-decoration:none;
        font-weight: 100;
    }
    .footercolumntitle
    {
        font-family: 'Shrikhand', serif;
        font-weight: 200;
        margin: 10px 0 15px 10px;
    }