@import url("https://fonts.googleapis.com/css2?family=Shrikhand:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700;800;900&display=swap");
body {
  font-size: 1rem;
  margin: 0;
}

.header {
  width: 100%;
}

.header .img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  grid-area: logo;
  padding: 1rem 1rem 1rem;
  height: 1.813rem;
}

h1 {
  font-family: "Shrikhand", serif;
  font-size: 48px;
}

h2 {
  font-family: "Shrikhand", serif;
  font-weight: 800;
  font-size: 30px;
}

h5 {
  font-family: "Roboto", sans-serif;
  font-weight: 800;
  padding: 0;
  margin: 5px;
}

h6 {
  font-family: "Roboto", sans-serif;
  font-weight: 80;
  padding: 0;
  margin: 5px 0 0 5px;
}

.fa-heart {
  position: relative;
  margin-top: 12px;
  margin-right: 1px;
  display: block;
  overflow: hidden;
}

.fa-arrow-left {
  text-decoration: none;
  position: absolute;
  color: black;
  margin: 15px 0 0 30px;
}

.main {
  display: grid;
  row-gap: 1rem;
  max-width: 100%;
  max-height: 100%;
  align-items: center;
  background-color: #F6F6F6;
  padding: 0;
}

.RestaurantsCard {
  position: relative;
  margin: 0px 0 0 0;
}

.RestaurantsTitle {
  position: absolute;
  display: grid;
  margin-top: 250px;
  top: 18%;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  width: 95%;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 0;
  padding: 0 10px 37px 10px;
  background-color: #f6f6f6;
}

.RestaurantsCardImg {
  margin: 0;
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
  display: grid;
  flex-direction: column;
}

.RestaurantsCardImg {
  height: 22rem;
  object-fit: cover;
}

@media screen and (min-width: 900px) {
  .fa-heart {
    position: -webkit-sticky;
    position: sticky;
    margin-top: 12px;
    left: 75%;
    display: block;
    overflow: hidden;
  }

  .fa-arrow-left {
    position: -webkit-sticky;
    width: 5px;
    text-decoration: none;
    color: black;
    left: 25%;
  }

  .RestaurantsCard {
    display: block;
  }

  .RestaurantsCardImg {
    position: alternative;
    margin: 0;
    display: grid;
    max-width: 700px;
    object-fit: contain;
    margin-left: auto;
    margin-right: auto;
  }

  .RestaurantsTitle {
    position: relative;
    display: grid;
    align-items: start;
    margin-top: 5px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    width: 600px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 0;
    background-color: #f6f6f6;
    margin-left: auto;
    margin-right: auto;
  }

  .RestaurantsTitle h2 {
    margin-left: 10px;
  }

  .buttoncommander {
    color: white;
    background: linear-gradient(#FF79DA, #9356DC);
    border-radius: 50px;
    padding: 20px;
    width: 235px;
    border: none;
    margin-top: 20px;
    font-family: "Roboto", sans-serif;
    font-size: 17px;
    font-weight: 500;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
  }

  .footer {
    color: white;
    max-width: 600px;
    display: flex;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
  }

  .footercolumn {
    margin: 0 0 0 25px;
    width: 70%;
    padding: 1rem 0;
    white-space: nowrap;
  }
}
@media screen and (max-width: 900px) {
  .footer {
    position: absolute;
    top: 1700px;
  }

  .fa-heart {
    position: -webkit-sticky;
    position: sticky;
    margin-top: 12px;
    left: 85%;
    display: block;
    overflow: hidden;
  }
}
.Restaurantsmenutitle {
  position: relative;
  color: #9a9a9a;
  margin: 15px 0 0 15px;
  text-transform: uppercase;
}

.RestaurantsCard .RestaurantsTitle .Restaurantsmenutitle .surligne {
  border-bottom: 1px solid #99E2D0;
  border-bottom-width: 4px;
}

menu .choice p {
  text-overflow: ellipsis;
}

.menu .choice p:nth-child(1) {
  grid-area: text1;
  font-weight: 700;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.menu .menu-card {
  cursor: pointer;
  background-color: #fff;
  position: relative;
  border-radius: 12px;
  box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.1);
  margin: 20px 0;
  display: flex;
}

.menu .choice {
  width: 100%;
  padding: 0 10px;
  display: grid;
  grid-template-rows: 30px;
  grid-template-columns: auto auto;
  grid-template-areas: "text1 ." "text2 price";
}

.menu .menu-card {
  animation: progress-menu 2s;
}

@keyframes progress-menu {
  0% {
    transform: translateY(0%);
    opacity: 0;
  }
  18% {
    transform: translateY(18%);
    opacity: 0;
  }
  30% {
    transform: translateY(30%);
    opacity: 0;
  }
}
.menu h4 {
  font-weight: 200;
}
.menu h4::after {
  display: block;
  content: "";
  height: 3px;
  width: 30px;
  background: #99e2d0;
}
.menu .menu-card {
  cursor: pointer;
  background-color: white;
  position: relative;
  border-radius: 12px;
  box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.1);
  margin: 20px 0;
  display: flex;
}
.menu .menu-card:hover .check {
  width: 90%;
}
.menu .menu-card:hover .check > .fa-check-circle {
  opacity: 1;
  animation: rotation 1s linear;
}
.menu .choice {
  width: 95%;
  padding: 0 10px;
  text-overflow: ellipsis;
}
.menu .choice p {
  display: block;
  white-space: nowrap;
}
.menu .choice p:nth-child(1) {
  grid-area: text1;
  display: flex;
  font-weight: 700;
  justify-content: flex-start;
}
.menu .choice p:nth-child(2) {
  grid-area: text2;
  display: flex;
  font-weight: 200;
  justify-content: flex-start;
}
.menu .choice p:nth-child(3) {
  grid-area: price;
  display: flex;
  justify-content: flex-end;
}

.check {
  transition: width 1s linear;
  width: 0;
  right: 0;
  background-color: #99E2D0;
  color: white;
  border-radius: 0 12px 12px 0;
  cursor: pointer;
  justify-content: center;
  transform-origin: right center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.check .fa-check-circle {
  opacity: 0;
}

@keyframes rotation {
  from {
    z-index: 1;
    transform: rotate(0);
  }
  50% {
    transform: rotate(180deg);
  }
  to {
    z-index: 1;
    transform: rotate(360deg);
  }
}
.buttoncommander:hover {
  background: linear-gradient(#ff83dd, #985ede);
  box-shadow: 0 0 20px #0000004e;
  cursor: pointer;
}

.buttoncommander {
  color: white;
  background: linear-gradient(#FF79DA, #9356DC);
  border-radius: 50px;
  padding: 20px;
  width: 235px;
  border: none;
  margin-top: 20px;
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  font-weight: 500;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 0 20px #0000002e;
}

.footer {
  background-color: #353535;
  color: white;
  display: flex;
  width: 100%;
  box-sizing: border-box;
}

.footercolumn {
  margin: 0 0 0 25px;
  width: 70%;
  padding: 1rem 0;
}

.footercolumnlink {
  display: block;
  margin: 1%;
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  text-decoration: none;
}
.footercolumnlink .fa-utensils {
  padding: 0 10px;
}
.footercolumnlink .fa-hands-helping {
  padding: 0 7px;
}

.footercolumnlink2 {
  display: block;
  margin: 1% 0 0 3%;
  color: white;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  font-weight: 50;
}

.footercolumntitle {
  font-family: "Shrikhand", serif;
  font-weight: 200;
  margin: 10px 0 15px 10px;
}

/*# sourceMappingURL=stylealafrancaise.css.map */
